<% provide :title, t("static_pages.about.title") %>
<h1><%= t "stactic_pages.about.About" %></h1>
<p>
  <%= t "static_pages.about.the" %>
  <%= link_to t("static_pages.about.link1"), "http://www.railstutorial.org/" %>
  <%= t "static_pages.about.is_a" %>
  <%= link_to t("static_pages.about.link2"), "http://www.railstutorial.org/book" %>
  <%= t "static_pages.about.and" %>
  <%= link_to t("static_pages.about.link3"),
    "http://screencasts.railstutorial.org/" %>
  <%= t "static_pages.about.sentences1" %>
  <%= link_to t("static_pages.about.link4"), "http://rubyonrails.org/" %>
  <%= t "static_pages.about.sentences2" %>
</p>
