<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.Help" %></h1>
<p>
  <%= t "static_pages.help.sentences1" %>
  <%= link_to t("static_pages.help.link1"), "http://www.railstutorial.org/help" %>
  <%= t "static_pages.help.sentences2" %>
  <%= link_to t("static_pages.help.link2"), "http://www.railstutorial.org/book" %>
  <%= t "static_pages.help.book" %>
</p>
