<% user ||= current_user %>
<div class="stats">
  <%= link_to following_user_path user.id do %>
    <strong id="following" class="stat">
      <%= user.following.count %>
    </strong>
    <%= t "app.views.shared.stats.following" %>
  <% end %>
  <%= link_to followers_user_path user.id do %>
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    <%= t "app.views.shared.stats.followers" %>
  <% end %>
</div>
