<footer class="footer">
  <small>
    <%= t "layout.footer.the" %>
    <%= link_to t("layout.footer.link1"), "http://www.railstutorial.org/" %>
    <%= t "layout.footer.by" %>
    <%= link_to t("layout.footer.link2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout.footer.about"), about_path %></li>
      <li><%= link_to t("layout.footer.contact"), contact_path %></li>
      <li><%= link_to t("layout.footer.link3"), "http://www.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
